@{
    String username = Context.Session.GetString("user");
    User user = null;
}
@model List<Order>


<div class="row d-flex justify-content-center text-center">

    <h3 class="fw-bold mt-4">Manage Order</h3>

    <h4 class="fw-bold mt-4">Total Order: @Model.Count()</h4>

    <div class="col-8 mt-5">

        <table class="table table-borderless text-white">
            <thead class="mb-5">
                <tr class="mb-5">
                    <th class="border-bottom">Order Id</th>
                    <th class="border-bottom">Buyer Name</th>
                    <th class="border-bottom">Audio Name</th>
                    <th class="border-bottom">Status</th>
                    <th class="border-bottom">Action</th>
                </tr>
            </thead>
            <tbody class="text-center mt-5">
                @foreach (var o in Model)
                {
                    <tr class="mt-5">

                        <td>@o.id</td>
                        <td>@o.User.name</td>
                        <td>@o.Audio.title</td>
                        <td>@o.getStatusDetails()</td>
                        <td>
                            <p class="btn btn-light" data-toggle="modal" data-target="#detailsModal"
                               onclick="showOrder('@o.Audio.title', '@o.User.name', '@o.getStatusDetails()', '@o.purchaseDate', '@o.Audio.image')">Details</p>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade text-black" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order details</h5>
            </div>
            <div class="modal-body">
                <div class="text-center mb-5">
                    <img class="image col-6 rounded" />
                </div>

                <p class="title">Title: </p>
                <p class="buyer">Buyer: </p>
                <p class="status">Status: </p>
                <p class="purchasedate">Purchasedate: </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function showOrder(title, buyer, status, purchasedate, image) {

        let modal = document.querySelector('.modal-body');

        modal.querySelector('.image').src = image;
        modal.querySelector('.title').textContent = 'Title:  ' + title;
        modal.querySelector('.buyer').textContent = 'Buyer:  ' + buyer;
        modal.querySelector('.status').textContent = 'Status:  ' + status;
        modal.querySelector('.purchasedate').textContent = 'Purchasedate:  ' + purchasedate;
    }

</script>