@{
    Audio mostLikedAudio = ViewBag.mostLikedAudio;
    List<Genre> genreList = ViewBag.genreList;
    List<Mood> moodList = ViewBag.moodList;
}

<div class="container">
    
    <div class="row d-flex justify-content-center">

        <div class="col-8 text-center d-flex flex-column">

            @* seach form *@
            <form asp-controller="Audio" asp-action="Search" method="get" class="position-relative" style="margin-top: 20vh;">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Search Audio" style="height: 8vh;" />

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" 
                        style="background-color: #6e57f6;height: 8vh;">Search</button>
                    </div>

                </div>
            </form>

            @* top track *@
            <div class="row d-flex justify-content-center mt-5" style="height: 15vh;">

                <div class="col-2">
                    <img src="@mostLikedAudio.image" style="width: 100%; aspect-ratio: 1" />
                </div>

                <div class="col-6 d-flex justify-content-start align-content-center flex-column">
                    <h7>Most liked audio</h7>
                    <a asp-controller="Audio" asp-action="Details" asp-route-id="@mostLikedAudio.id" 
                        class="mt-3 fw-bold text-decoration-none text-light fs-5">@mostLikedAudio.title.ToUpper()</a>

                    <h6 class="">@mostLikedAudio.User.name - @mostLikedAudio.Genre.genre - @mostLikedAudio.Mood.moodName</h6>
                </div>

            </div>

            @* track list *@
            <div class="row mt-5">
                <img src="/img/home-decor.png" class="w-100" />


            </div>
            </div>

    </div>
</div>

<div class="container">
    @* genre list *@
    <div class="row mt-5">
        <h2 class="text-center">Genre</h2>
        @foreach (Genre g in genreList)
        {
            <div class="col-lg-3">
                <img src="img/genre/@(g.genre).png" alt="@g.genre" />
                <h3 class="text-center">@g.genre</h3>
            </div>
        }
    </div>
</div>

<div class="container">
    @* mood list *@
    <div class="row mt-5">
        <h2 class="text-center">Mood</h2>
        @foreach (Mood m in moodList)
        {
            <div class="col-lg-3">
                <img src="img/mood/@(m.moodName).png" alt="@m.moodName" />
                <h3 class="text-center">@m.moodName</h3>
            </div>
        }
    </div>
</div>