@{
    Audio mostLikedAudio = ViewBag.mostLikedAudio;
}

<div class="container">
    
    <div class="row d-flex justify-content-center">

        <div class="col-8 text-center d-flex flex-column">

            @* seach form *@
            <form asp-action="Search" method="get" class="position-relative" style="margin-top: 20vh;">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Search Audio" style="height: 8vh;" />

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" 
                        style="background-color: #6e57f6;height: 8vh;">Search</button>
                    </div>

                </div>
            </form>

            @* top track *@
            <div class="row d-flex justify-content-center mt-5" style="height: 15vh;">

                <div class="col-2">
                    <img src="@mostLikedAudio.image" style="width: 100%; aspect-ratio: 1" />
                </div>

                <div class="col-6">
                    <h6>Most liked audio</h6>
                    <h2 class="mt-3 fw-bold">@mostLikedAudio.title.ToUpper()</h2>

                    <h5 class="">@mostLikedAudio.User.name - @mostLikedAudio.Genre.genre - @mostLikedAudio.Mood.moodName</h5>
                </div>

            </div>

            @* track list *@
            <div class="row mt-5">
                <img src="/img/home-decor.png" class="w-100" />


            </div>

        </div>

    </div>

</div>
