@inject AudioMarketContext dbContext
@{
    String username = Context.Session.GetString("user");
    User user = null;
    List<Favorite> favorites = new List<Favorite>();
    if (username != null)
    {
        user = dbContext.Users.FirstOrDefault(u => u.username == username);
        favorites = user.Favorites.ToList();
    }

    List<Review> reviews = ViewBag.ReviewList;
}
@model Audio

<div class="row justify-content-center">

    <div class="col-6">

        <div class="position-relative">

            <img src="@Model.image" class="position-absolute w-100 rounded" style="z-index: -1; opacity: 0.5; aspect-ratio: 1">

        </div>

        <div class="text-center flex-column" id="audioDetails">

            <h3 class="fw-bold mt-5">
                @Model.title.ToUpper()

                @if (username != null)
                {
                    <div>
                        @* favorite *@
                        @if (@favorites.Any(f => f.audioId == Model.id))
                        {
                            <i class="bi fs-4 bi-heart-fill" onclick="updateFavorite(@user.id, @Model.id, this)"></i>
                        }
                        else
                        {
                            <i class="bi fs-4 bi-heart" onclick="updateFavorite(@user.id, @Model.id, this)"></i>
                        }

                    </div>
                }
            </h3>

            <p class="mt-5">@Model.Genre.genre  -  @Model.Mood.moodName</p>

            <div>
                @if (username != null)
                {
                    @* make order *@
                    @* <i class="bi bi-cart" style="font-size: 10rem;"></i> *@
                    <button class="btn btn-light" onclick="addToCart('@user.id', @Model.id)">Add to cart</button>
                }
            </div>

            <div class="rounded-circle btn border-0" onclick="play('@Model.filename', '@Model.image', @Model.id, '@Model.title')" id="playButton">
                <i class ="bi bi-play text-white" style="font-size: 9rem"></i>
            </div>


        </div>

        @* review *@
        <div class="text-center" style="margin-top: 35vh;">

            <h3 class="fw-bold">REVIEW</h3>

            <div id="commentContainer">

                @foreach(Review review in reviews)
                {
                    <div class="media d-flex align-items-center mt-4">
                        <i class="bi bi-person-circle fs-2 mr-3"></i>

                        <div class="media-body text-start ms-4">
                            <h6 class="mt-0 fw-bold">@review.User.name</h6>

                            <p>@review.comment</p>
                        </div>
                    </div>
                }

            </div>

            @if(username != null)
            {
                <div class="mt-5">
                    <form class="input-group" onsubmit="sendReview(this, event, '@user.name', @Model.id)">
                        <input type="text" class="form-control text-white bg-black btn-outline-dark" placeholder="Type your comment...">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button">Send</button>
                        </div>
                    </form>
                </div>
            }

        </div>

    </div>

</div>


<div class="toast position-fixed" role="alert" aria-live="assertive" aria-atomic="true" style="right: 0; z-index: 2; top: 10vh">
    <div class="toast-header text-black">
        <strong class="mr-auto">Notification</strong>
    </div>
    <div class="toast-body text-black" id="toastContent">
        Added to cart!
    </div>
</div>

<script>

    const playButton = document.getElementById("playButton");

    document.getElementById('audioDetails').addEventListener("mouseover", function () {
        playButton.style.visibility = 'visible';
    });

    document.getElementById('audioDetails').addEventListener("mouseout", function () {
        playButton.style.visibility = 'hidden';
    });

    function updateFavorite(userId, audioId, heartIcon) {

        if (heartIcon.classList.contains("bi-heart-fill")) {
            heartIcon.classList.remove("bi-heart-fill");
            heartIcon.classList.add("bi-heart");
        } else if (heartIcon.classList.contains("bi-heart")) {
            // Check if it contains "bi-heart" class and toggle it with "bi-heart-fill"
            heartIcon.classList.remove("bi-heart");
            heartIcon.classList.add("bi-heart-fill");
        }

        fetch(`../Favor?userId=${userId}&audioId=${audioId}`)
    }

    function getCookieCart(name) {
        const cookieName = name + "=";
        const decodedCookies = decodeURIComponent(document.cookie);
        const cookieArray = decodedCookies.split(";");

        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i].trim();
            if (cookie.indexOf(cookieName) === 0) {
                return cookie.substring(cookieName.length);
            }
        }
        return ''; // Cookie not found
    }

    function addToCart(username, audioId) {
        
        let cartName = username + '-audiocart';
        let cookieValue = getCookieCart(cartName);
        let audioIdCookie = `${audioId}-`;

        if (!cookieValue.includes(audioIdCookie)) {
            cookieValue += audioIdCookie;
            showToast('✅Added to cart!');
        } else {
            showToast('Already in the cart!');
        }

        document.cookie = cartName + "=" + cookieValue + "; path=/";

    }

    function showToast(message) {
        const toastContent = document.getElementById('toastContent');
        toastContent.textContent = message;
        $('.toast').toast('show')
    }

    function sendReview(element, event, username, audioId) {
        event.preventDefault();

        let input = element.querySelector('input');

        fetch(`/User/Review?comment=${input.value}&audioId=${audioId}`);
        insertComment(username, input.value);

        input.value = '';
    }

    function insertComment(username, comment) {
        var commentContainer = document.createElement('div');
        commentContainer.className = 'media d-flex align-items-center mt-4';

        // User Icon
        var userIcon = document.createElement('i');
        userIcon.className = 'bi bi-person-circle fs-2 mr-3';

        // Media Body
        var mediaBody = document.createElement('div');
        mediaBody.className = 'media-body text-start ms-4';

        // User Name
        var userName = document.createElement('h6');
        userName.className = 'mt-0 fw-bold';
        userName.textContent = username

        // Comment Text
        var commentText = document.createElement('p');
        commentText.textContent = comment;

        // Append elements to the container
        mediaBody.appendChild(userName);
        mediaBody.appendChild(commentText);

        commentContainer.appendChild(userIcon);
        commentContainer.appendChild(mediaBody);

        document.getElementById('commentContainer').appendChild(commentContainer);
    }

</script>

@* <script>
    const audio = document.getElementById('audio');
    const playButton = document.getElementById('playButton');
    const pauseButton = document.getElementById('pauseButton');
    const seekSlider = document.getElementById('seekSlider');
    const volumeSlider = document.getElementById('volumeSlider');

    function updateControls() {
        seekSlider.value = audio.currentTime;
        volumeSlider.value = audio.volume;
    }

    function seekAudio() {
        audio.currentTime = seekSlider.value;
    }

    function setVolume() {
        audio.volume = volumeSlider.value;
    }

    playButton.addEventListener('click', () => {
        audio.play();
    });

    pauseButton.addEventListener('click', () => {
        audio.pause();
    });

    seekSlider.addEventListener('input', seekAudio);

    volumeSlider.addEventListener('input', setVolume);

    audio.addEventListener('timeupdate', updateControls);

    audio.addEventListener('ended', () => {
        playButton.disabled = false;
        pauseButton.disabled = true;
    });
</script> *@
